.DS_Store
*.cache
Thumbs.db
*.log

# ZSH Cache
home/.config/zsh/.zcompdump
home/.config/zsh/.zshrc.zwc

# Nano Syntax files
home/.config/nano/syntax

# Tmux plugins
home/.config/tmux/tmux

# Ranger plugins
home/.config/ranger/plugins

# Git Secret
.gitsecret/keys/random_seed
!*.secret

# Encrypt files
vscode/settings.json
public-key.gpg
