.DS_Store
*.cache
Thumbs.db
*.log

# ZSH Cache
home/.config/zsh/.zcompdump
home/.config/zsh/.zshrc.zwc

# Micro
home/.config/micro/plug/**
!home/.config/micro/plug/.gitkeep
home/.config/micro/backups/**
!home/.config/micro/backups/.gitkeep
home/.config/micro/buffers/**
!home/.config/micro/buffers/.gitkeep

# Nano syntax files
home/.config/nano/syntax/

# Tmux plugins
home/.config/tmux/tmux

# Ranger plugins
home/.config/ranger/plugins

# Git Secret
.gitsecret/keys/random_seed
!*.secret

# Encrypt files
vscode/settings.json
public-key.gpg
